.form-check-input-primary:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-input-success:checked {
    background-color: #198754 !important;
    border-color: #198754 !important;
}

.country-dropdown {
    min-width: 253px;
}

.country-dropdown li {
    list-style: none;
    width: 20%;
    cursor: pointer;
}

.pageSize-dropdown li {
    cursor: pointer;
}